default minikernel
prompt 1
timeout 50

label minikernel
    kernel /boot/bzImage
    append initrd=/boot/rootfs.ext2.gz root=/dev/ram0 rw console=tty0 console=ttyS0,115200 quiet splash

label minikernel-debug
    kernel /boot/bzImage
    append initrd=/boot/rootfs.ext2.gz root=/dev/ram0 rw console=tty0 console=ttyS0,115200 debug loglevel=7

label minikernel-safe
    kernel /boot/bzImage
    append initrd=/boot/rootfs.ext2.gz root=/dev/ram0 rw console=tty0 single
